body {
  font-family: "Lato", sans-serif;
}
.h1{
  text-align: center;
}

#section-title{
font-weight: bold;
font-size: 30px;
text-align: center;
color: blue;
}

.aboutus-background-image {
background-image: url("../page_images/istockphoto-1086341762-612x612.jpg");
background-repeat: no-repeat;
display: block;
margin-left: auto;
margin-right: auto;
background-attachment: fixed;  
background-size: cover;
}

.aboutus-box {
  border: 2px solid #FFD700;
  padding: 50px;
  width: 900px;
  position: relative;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 110%;
}

#myHeader{
  text-align: center;
  color: white;
}

#content{
  word-break: break-all;
  text-align: center;
  color: black;
}

#teamName{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: blue;
}

#teamMem{
  font-size: 20px;
  text-align: center;
  color: cyan;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.section-body {
line-height: 1.8;
border-style: solid;
border: 2px solid #FFD700;
background-color: gray;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 10px;
padding-left: 0px;
opacity:0.9;
}