.searchbox-container {
    height: 75px;
    width: 500px;
    font-size: 17px;
    padding-bottom: 25px;
}

.search-button {
    position: absolute;
    left: 65.4%;
    top: 9.5%;
    height: 70%;
    padding: 10px 25px;
    font-size: 125%;
}

.jobsearch-background-image {
    background-image: url("../page_images/What-is-it-like-working-in-IT-640x427.jpg");
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;  
    background-size: cover;   
}